h1 {
    color: #232876;
    font-weight: 900;
    text-align: center;
    font-size: 65px;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


button {
background-color: #1423DC;
border-radius: 10px;
padding:20px;
border:none
}

button:hover{
    background-color: #96cd32;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}


.container {
    background-color: #F2F2F2;
    border-radius: 10px;
    border: 1px solid #1423DC;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin-top: 250px;
}


@media screen and (max-width: 1528px) and (max-height: 751px) {

    .container {
        width: 500px;
        margin-top: 150px;
    }

    h1 {
        font-size: 38px;
    }
    a {
        font-size: 17px;
    }



}